*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


nav {
    background-color: #f0f0f0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    
  }

  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .socialmedia{
    margin-left: 1%;
    max-width: 45%;
    display: flex;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .description{
    max-width: 100%; /* Maximale Breite von 500px */
    display: block; /* Standard ist bereits block, aber für Klarheit hinzugefügt */
    overflow: auto;
    word-wrap: break-word; 
  }
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */

     /* The image used */
     background-image: url("images/australia.jpg");
  
     /* Full height */
     height: 100%;
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
  }
  
  h1 {
    margin-bottom: 0px;
    
  }
  ul {
    list-style-type: none; /* Entfernt die Listenpunkte */
    padding: 0; /* Entfernt den Standardabstand */
    margin: 0; /* Entfernt den äußeren Abstand */
}
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  .introduction{
    margin-top: 10%;
    margin-left: 10%;
    
    width: 25%;
  }
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }